td
{
    font-family:sans-serif;
    font-size:80%;
    padding:1px 5px 1px 5px;
    border-right:1px dashed #999999;
    border-bottom:1px dashed #999999;
}
th
{
    width:70px;
    font-family:sans-serif;
    padding:1px 1px 1px 1px;
    font-size:75%;
    border-right:1px dashed #999999;
    border-bottom:1px dashed #999999;
}
table
{
    border-left:1px dashed #999999;
    border-top:1px dashed #999999;
}
a
{
    text-decoration:none;
}

.pending
{
    background-color:#f0f0f0;
    font-size:70%;
}
.started
{
    background-color:#ffff00;
    font-size:70%;
}
.error
{
    background-color:#ff0000;
    font-size:70%;
}
.ok
{
    background-color:#00ff00;
    font-size:70%;
}

.mode
{
    font-family:sans-serif;
    padding:15px 0 3px 0;
    font-size:110%;
}

.failed
{
    background-color:#ff0000;
}